
/*@font-face*/

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: kaushan;
    src: url(../fonts/kaushan/KaushanScript-Regular.ttf);
}